@import '../../mixins';
@import '../../variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.container__header {
  position: relative;
}

.header-topmenu {
  width: 100%;
  @include flex(space-between, center, row);
  padding: 1.6rem 0;
  background-color: #27262a;
  @include for-desktop {
    width: 100%;
    @include flex(space-between, center, row);
    flex-wrap: nowrap;
  }
  &__logo {
    @include flex(center, center, row);
  }
  &__logo__link {
    @include flex(center, center, row);
    text-decoration: none;
  }
  &__logo__icon {
    width: 2.15rem;
    height: 2.15rem;
    margin-left: 0.75rem;
    background-image: url(../../img/Logo_header.svg);
    background-repeat: no-repeat;
    background-size: contain;
    @include for-tablet {
      margin-left: 1rem;
      &:hover {
        background-image: url(../../img/logo_hover1.svg);
      }
    }
  }
  &__logo__text {
    display: none;
    @include for-desktop {
      display: block;
      padding-left: 0.85rem;
      font-family: 'Monoton', cursive;
      font-style: italic;
      font-weight: 400;
      color: $tc-dark;
      font-size: 2em;
      line-height: 0.66em;
      &:hover {
        color: $tc-light;
      }
    }
  }
  &__burger__wrapper {
    position: absolute;
    top: 2.25rem;
    right: 0;
  }
  &__burger {
    position: relative;
    width: 1.3rem;
    height: 1rem;
    margin-right: 0.75rem;
    cursor: pointer;
    @include for-tablet {
      display: none;
    }
  }
  &__burger__line {
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    height: 0.15rem;
    background-color: $tc-light;
    border-radius: 0.25rem;
  }
  &__burger__line::before {
    position: absolute;
    content: '';
    display: block;
    top: -0.5em;
    right: 0;
    width: 58%;
    height: 0.15rem;
    border-radius: 0.25rem;
    background-color: $tc-light;
  }
  &__burger__line::after {
    position: absolute;
    content: '';
    display: block;
    top: 0.5em;
    width: 100%;
    height: 0.15rem;
    border-radius: 0.25rem;
    background-color: $tc-light;
  }
  &__burger-active {
    background: linear-gradient(
        45deg,
        transparent 45%,
        #ffffff 46%,
        #ffffff 55%,
        transparent 56%
      ),
      linear-gradient(
        -45deg,
        transparent 45%,
        #ffffff 46%,
        #ffffff 55%,
        transparent 56%
      );
  }
  &__burger__line-hide {
    opacity: 0;
  }
  &__nav {
    @include for-tablet {
      @include flex(center, center, row);
      width: 100%;
    }
    @include for-desktop {
      margin: 0 auto;
      padding-right: 20%;
    }
  }
  &__list {
    display: none;
    @include for-tablet {
      @include flex(flex-start, center, row);
      margin-left: 3%;
      width: 100%;
    }
    @include for-desktop {
      margin-left: 20%;
    }
  }
  &__list-active {
    position: absolute;
    background: #333333;
    top: 5.35rem;
    left: 0.675rem;
    height: 14.5rem;
    width: 91.5%;
    display: block;
    z-index: 100;
    @include for-tablet {
      display: none;
    }
    @include for-desktop {
      display: none;
    }
  }
  &__item {
    position: relative;
    padding: 1.45rem 0 1.55rem 1.75rem;
    border-bottom: 0.1875rem solid #3b3b3b;

    @include for-tablet {
      border: unset;
      padding: 1.3rem 0 0.9rem 0;
      &:not(:last-child) {
        padding-right: 3.2%;
      }
    }
    @include for-desktop {
      &:not(:last-child) {
        padding-right: 10%;
      }
    }
  }
  &__link {
    @include basic-font400;
    font-size: 1.625em;
    line-height: 1em;
    text-decoration: none;
    color: $tc-light;

    @include for-tablet {
      @include basic-font700;
      color: $tc-dark;
      font-size: 1em;
      line-height: 1.125em;
      &:hover {
        color: $tc-light;
      }
      &__active {
        color: rgb(245, 245, 245);
      }
    }
    @include for-desktop {
      font-size: 1.3em;
      line-height: 1.0625em;
    }
  }
  &__link:hover {
    color: $tc-dark;
  }
  &__link:hover::before {
    position: absolute;
    content: '';
    top: 0.95rem;
    left: 0;
    width: 0.4rem;
    height: 2.65rem;
    background-color: $tc-dark;
    @include for-tablet {
      display: none;
    }
  }
}
