@import './mixins';
@import './reset.scss';

.container {
  width: 100%;
  font-size: 16px;

  @media screen and (min-width: 481px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 993px) {
    margin: 0 auto;
    max-width: 1200px;
  }
}
.main__container {
  margin: 0 auto;
  @include flex(center, center, row);
  flex-wrap: wrap;
}
.cards {
  @include flex(center, stretch, row);
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  max-width: 1200px;
}
.header {
  width: 100%;
  @include flex(flex-start, center, row);
  flex-wrap: wrap;
}
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  @include flex(center, center, row);
}

.button {
  @include basic-font400;
  font-size: 0.8em;
  border-style: none;
  border-radius: 0.3125rem;
  color: cornsilk;
  padding: 0.3125rem;
  @include for-tablet {
    font-size: 0.8em;
  }
  @include for-desktop {
    font-size: 1.1em;
  }
}
.button:focus,
:active {
  outline: none;
}
.favorite__modal {
  width: 100vw;
}
.modal {
  width: 100%;
  border-radius: 0.3125rem;
  background-color: #fff;
  position: absolute;
  @include for-tablet {
    width: 60%;
  }
  @include for-desktop {
    width: 45%;
  }

  &__header {
    width: 100%;
    @include flex(space-around, center, row);
  }
  &__title {
    color: cornsilk;
    text-align: center;
    @include basic-font700;
    font-size: 1.3em;
    padding: 0.7rem;
  }
  &__closeButton {
    border-style: none;
    background-color: unset;
    color: cornsilk;
    font-size: 1.5625em;
  }

  &__buttons {
    @include flex(center, center, row);
  }
  &__button {
    margin: 1.25rem;
  }
}

.favorite__button {
  position: absolute;
  top: -3.45rem;
  right: width - 50%;
  @include for-tablet {
    top: -3.8rem;
    right: 1rem;
  }
}
